<div class="container">
    <div class="row justify-content-center">
        <div class="col col-lg-6">
            <ngbd-dropdown-config></ngbd-dropdown-config>
            <ngbd-popover-autoclose></ngbd-popover-autoclose>
            <app-accountant></app-accountant>
            <testingExpressions></testingExpressions>
            <app-heroes></app-heroes>
            <app-dataBinding (emiter)="recibir($event)"></app-dataBinding>
            <span *ngIf="content.nodeName">Hicimos click sobre el elemento: {{content.nodeName}} - id:
                {{content.id}}</span>

            <app-main-page></app-main-page>
            <app-ngSwitchNgForNgIf></app-ngSwitchNgForNgIf>
            <app-cat></app-cat>
        </div>
    </div>
</div>