<h1>Dragon ball Z</h1>
<hr>
<div class="row">
    <div class="col">

        <!-- <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" data-bs-title="Popover title"
            data-bs-content="And here's some amazing content. It's very engaging. Right?">Click to toggle
            popover</button> -->


        <!-- <app-characters [chars]="characters"></app-characters> -->
        <app-characters></app-characters>
    </div>
    <div class="col">
        <!-- <app-add (onNewChar)="addNewChar($event)"></app-add> -->
        <app-add></app-add>
    </div>
</div>